@font-face {
  font-family: "Gotham Bold Regular";
  src: url("./fonts/GothamBoldRegular.ttf") format("truetype");
}
* {
  font-family: Gotham Bold Regular, Roboto;
}
body {
  background-color: #222;
  font-size: 1.4rem;
  color: #fff;
  margin: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
